@model ProjectApp.Models.ProjectModel

@{
    ViewData["Title"] = "Lägg till";
}

<h1>Lägg till</h1>

<h4>Projekt</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control">
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Tekniker</label>
                @if (ViewBag.Techniques.Count == 0)
                {
                    <p>Inga tekniker tillagda än...</p>
                }
                else
                {
                    @foreach (var technique in ViewBag.Techniques)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="@("technique_" + technique.Id)"
                                name="selectedTechniques" value="@technique.Id">
                            <label class="form-check-label" for="@("technique_" + technique.Id)">
                                @technique.Name
                            </label>
                        </div>
                    }
                }
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Gå tillbaka</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
