@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Admingränssnitt</h1>
    <p>Denna applikation fungerar som ett gränssnitt för administration.</p>
</div>
